{% load static %}
<!DOCTYPE html>
<html lang="es">
  <!-- Informacion de la pagina para los navegadores -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block css %} {% endblock %}
    <title> {% block titulo %} inicio {% endblock %}  </title>
    <link rel="icon" type="icon/jpg" href="{% static 'img/mundo.jpg' %}">
  </head>
  <!-- contenido de la pagina que ven lo usuarios -->
  <body>
    <!--* encabezado(logo-menu-titulo) del sitio -->
    <header class="header">
      <nav class="navegacion">
        <a href="{% url 'inicio' %}" class="logo">
          <img src="{% static 'img/mundo.jpg' %}" width="50px" alt="logo" />
          
          <div class="logo">
               Network select
           </div>
        </a>
        <ul class="menu">
          <li><a href="{% url 'inicio' %}">Inicio</a></li>
          <li><a href="{% url 'cargo' %}">Cargos</a></li>
          <li><a href="{% url 'departamento' %}">Departamentos</a></li>
          <li><a href="{% url 'empleado' %}">Empleados</a></li>
        </ul>
      </nav>
    </header>  
    <main>
      {% block contenido %}
       <div>
         <section class ="principal">
             <h1>Bienvenido A Mi Sitio Web</h1>
             <img width="5000px" src="{% static 'img/admin.png' %}" alt="Sin imagen" />
         </section>
        </div>
      {% endblock %}
    </main>
  </body>
</html>
