{% extends "inicio.html" %}
{% block titulo %}
  Eliminar Empleado
{% endblock %}
{% load static %}
{% block css %} 
   <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block contenido %}
  <section class="form-container">
    <div class="form-header" >
      <h1>Eliminacion de Empleado</h1>
    </div>
    <form method="POST" id="form-empleado" class="form">
      {% csrf_token %}
      <h2>¿Desea Eliminar al empleado => 
            <span style="color:red;">{{empleado.id}} - {{empleado.descripcion}}</span>?
      </h2>
      <button style="background:red;border-radius:5px;padding:5px;color:white;cursor:pointer;"
            type="submit">Eliminar
      </button>
      <a style="display:block;background:green;border-radius:5px;padding:5px;color:white;cursor:pointer;"
        href="{% url 'empleado' %}">Cancelar</a>
    </form>
       
  </section>
{% endblock %}